registry=https://registry.npmmirror.com
sass_binary_site=https://registry.npmmirror.com/-/binary/node-sass
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver/
cypress_download_mirror=https://registry.npmmirror.com/binary.html?path=cypress/9.3.1/darwin-x64/
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
profiler_binary_host_mirror=https://npmmirror.com/mirrors/node-inspector/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
