@forward "element-plus/theme-chalk/src/common/var" with  (
    $colors: (
        "primary": ("base": #41B883,),
        "success": ("base": #67c23a,),
        "warning": ("base": #e6a23c,),
        "danger": ("base": #db2828,),
        "error": ("base": #f56c6c,),
        "info": ("base": #909399,),
    ),
    $header:(
      'padding': 0 20px,
      'height': 48px,
    ),
    $button-padding-horizontal: ("default": 50px)
);

@use "element-plus/theme-chalk/src/dark/css-vars" as *;